.root {
  display: grid;
  grid-template-columns: 90% 10%;
  height: 60px;
  max-width: 180px;

  align-self: center;
  overflow: hidden;
}

.wrapper {
  background-color: blueviolet;
  display: grid;
}

.label {
  align-self: center;
  justify-self: flex-end;
}

.end {
  border-radius: 0 100% 100% 0;
  background-color: blueviolet;
  overflow: hidden;
}
